@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: white;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
  background-color: #000;
}
